main{
    display: flex;
    margin-left: 100px;
}

form{
    margin-top: 130px;
    margin-left: 50px;
}

form input{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
}

.idade{
    margin-left: 3px;
}

.email{
    margin-left: 1px;
}

.titulo{
    margin-left: 100px;
}

h1{
    color:#000000;
    font-size: 40px;
}

img{
    max-width: 400px;
    margin-left: 250px;
    margin-top: -20px;
}

.envia{
    background-color: #BA68C8;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-left: 125px;
    text-transform: uppercase;
    font-size: 15px;
    border: #BA68C8;
    color: white;
}

.envia:hover{
    background-color: #d584e4;
    transition: 0.3s all;
}


label{
    font-size: 20px;
    color: #000000;
    line-height: 10px;
    margin-right: 20px;
}


body, button, a {
    border: 0px;
    font: 400 1rem "Mukta", sans-serif;
}

article video{
    margin-left: 150px;
    margin-top: -60px;
}

.senha{
    margin-left: -4px;
}


@media screen and (max-width: 700px){
    main{
        display: block;
    }

    form{
        margin-left: -40px;
    }

    article video{
        margin-left: -60px;
        width: 380px;
        margin-top: 50px;
    }

    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .envia{
        margin-left: 20px;
    }
}