header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

main{
    display: flex;
}

.im img{
    width: 150px;
    height: auto;
    margin-left: 40px;
    margin-top: -30px;
    margin-right: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
    margin-top: -50px;
    margin-left: 180px;
    margin-right: 180px;
}

.navigation__link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.navigation__link:hover {
    color: var(--red);
}

.navigation__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--red);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.navigation__social {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-right: 40px;
    margin-top: -70px;
}

.navigation__social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4s;
}

.navigation__social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}


body, button, a {
  border: 0px;
  color: #BA68C8;
  font: 400 1rem "Mukta", sans-serif;
}

a{
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.navigation__link:hover {
    color: #BA68C8;
}

.navigation__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: #BA68C8;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}


button:hover {
  cursor: pointer;
}

section h1{
    color: white;
    font-size: 50px;
    margin-left: 40px;
}

section h2{
    font-size: 50px;
    margin-top: -40px;
    margin-left: 40px;
}

section p{
    font-size: 20px;
    width: 500px;
    color: white;
    margin-left: 40px;
    line-height: 30px;
}


.op{
    background-color:#BA68C8;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

.op:hover{
    background-color: #d77ee7;
    transition: 0.3s all;
    color: white;
}

#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.80) 15%, rgba(10, 12, 16, 0.6) 50%, rgba(10, 12, 16, 0.80) 85%);

}


@media screen and (max-width: 1005px){
    header{
        display: block;
    }

    .navigation{
       margin-left: 100px;
       width: 390px;
       margin-top: 20px;
       margin-bottom: 270px;
    }

    section h1, section h2{
        font-size: 30px;
        line-height: 45px;
    }

    section{
        margin-top: 100px;
        margin-left: 160px;
    }

    h1{
        margin-top: 40px;
    }

    section h2{
        margin-left: 80px;
    }

    .op{
        margin-top: -60px;
        width: 180px;
        height: 25px;
        margin-left: 70px;
    }

    body{
        overflow: hidden;
    }

}