.cad{
    background-color: white;
    display: flex;
    margin-left: 100px;
}

.formc{
    margin-top: 50px;
    margin-left: 50px;
}

.formc input{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
}

.sec{
    display: none;
}

#nome{
    margin-left: -4px;
    width: 300px;
}

#idade{
    width: 300px;
}

#email{
    width: 300px;
}

.titulo{
    font-size: 20px;
    color:#000000;
    margin-left: 100px;
}

.enviacad{
    background-color: #BA68C8;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin-left: 120px;
    text-transform: uppercase;
    font-size: 15px;
    border: #BA68C8;
    color: white;
}

.enviacad:hover{
    background-color: #d584e4;
    transition: 0.3s all;
}

label{
    font-size: 20px;
    color: #000000;
    line-height: 10px;
    margin-right: 20px;
}

body, button, a {
    border: 0px;
    font: 400 1rem "Mukta", sans-serif;
}

article .cadv{
    margin-left: 150px;
    margin-top: -60px;
}

h2{
    color: #ffff;
}

@media screen and (max-width: 700px){
    .cad{
        display: block;
    }

    .formc{
        margin-left: -60px;
    }

    article .cadv{
        margin-left: -80px;
        width: 350px;
        margin-top: 40px;
    }
    .envia{
        margin-left: -30px;
    }
}
