* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, strong, p, h2, h1, h3, h4{
    border: 0px;
    font: 400 1rem "Mukta", sans-serif;
}

strong{
    color: #BA68C8;
    text-shadow: 1px 1px black;
    font-size: 18px;
}

.na, .fot, .hd, .sec{
    display: none;
}


:root{
    --color-primary: #BA68C8;
    --color-secundary: rgb(171, 1, 201);
    --color-black: black;
    --color-white: white; 
}

body{
    background-color: white;
}

main{
    margin-top: 200px;
}

.courses-section{
    padding-bottom: 8rem;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.25rem;
    margin-top: -150px;
    margin-left: 20px;
}

.card{
    background-color: #ffffff;
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    width: 310px;
    height: 600px;
    padding: 2rem 0 0 2rem;
}

.card:nth-child(2n){
    align-self: end;
    background-color: #ffffff;
}

.card strong{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.card a{
    display: block;
    margin:  3rem 0 0 auto;
    width: fit-content;
}

.courses-section img{
    max-width: 60%;
    margin-left: 30px;
}

.text-primary{
    color: var(--color-primary);
}

.text-secundary{
    color: var(--color-secundary);
}

.text-center{
    text-align: center;
}

article video{
    max-width: 70%;
    margin-left: 30px;
}

.courses-section p{
    margin-right: 15px;
    font-size: 17px;
}


/* Responsividade */

@media screen and (max-width: 1005px){
    .cards{
        display: block;
    }

    .card{
        width: 400px;
        display: block;
        margin-left: 20px;
        height: 680px;
        margin-bottom: 20px;
    }
}
