
doctype html
html
  include header.html
  body
    include generos.html
    include cadastro.html
    include distopia.html
    include terror.html 
    include romance.html 
    include truecrime.html

